# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# miscellaneous
.vscode

# Application specifc
client/build/
client/frontend/package.json.md5
client/frontend/dist/
client/frontend/node_modules/
client/frontend/src/wailsjs/
client/vendor/

server/configs
server/server
server/vendor