# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# miscellaneous
.vscode

notes_for_avhbs.txt
notes_on_sql_in_go.txt
todo

client/dist/
client/node_modules/

server/database/databaseLoginLocal.txt
server/database/databaseLoginRemote.txt
server/tests/testDatabaseLogin.txt
