$primary: #99d4f4;
$danger: #db5b5b;

.max-height-scroll-y {
  height: calc(100vh - 3.25rem); // 3.25rem == nav bar height
  overflow-x: hidden;
  overflow-y: auto;
}

.tile.is-narrow {
  .tile.is-parent {
    padding: 1pt;
  }

  .tile.is-vertical > .tile.is-child {
    margin-bottom: 2pt !important;
  }

  .notification {
    border-radius: 2pt;
  }
}

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$family-sans-serif: "Nunito", sans-serif;

@import "~bulma/bulma";
